<div class={ "live-container #{display_mode(@light)} #{hide(@socket)}" }>
  <div class="title">
    Nerves Weather
  </div>
  <div class="sensors">
    <div class="sensor">
      <div class="value">
        <%= @temperature %>
      </div>
      <div class="label">
        温度 (°C)
      </div>
    </div>
    <div class="sensor">
      <div class="value">
        <%= @humidity %>
      </div>
      <div class="label">
        湿度
      </div>
    </div>
    <div class="sensor">
      <div class="value">
        <%= if @light do %>
          ☀️ 
        <% else %>
          🌙
        <% end %>
      </div>
    </div>
  </div>
</div>
